# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
*.local

# Environment files
service-account.json

# Ignore everything inside credentials/ but not the folder itself
credentials/*
!credentials/.gitkeep